<section class="main" *ngIf="dataService.todos.length">
  <input id="toggle-all" class="toggle-all" type="checkbox"
  [disabled]="!(dataService.currentTodos().every(dataService.filters.active) || dataService.currentTodos().every(dataService.filters.completed) )  ||dataService.currentTodos().length === 0"
    (click)="dataService.toggleAll()">
  <label for="toggle-all">
   </label>
  <ul class="todo-list">
    <li *ngFor="let todo of dataService.currentTodos(); let i= index"
      class="todo" [class]=" todo.isCompleted? 'completed' : ' '"
      [class]="todo.isCompleted ? 'completed' : ' '">
      <div class="view">
        <input class="toggle" type="checkbox" (click)="dataService.completedTodo(todo)" [checked]="todo.isCompleted">
        <label>{{todo.name}}</label>
        <button class="destroy" (click)="dataService.removeTodo(todo)"></button>
      </div>
        <!-- <input v-if="todo === editedTodo" class="edit" type="text" v-model="todo.title"> -->

    </li>
  </ul>

</section>