<footer class="footer" v-show="dataService.todos.length">
  <span class="todo-count">
 
    <strong>{{ dataService.remaining}}</strong>
    <span>{{ dataService.remaining <= 1 ? ' item' : ' items' }} left</span> 
  </span>
  <ul class="filters" *ngIf="dataService.filters">
    <li *ngFor="let filter of dataService.keys; let i as index" (click) ="dataService.switchFilter(filter)">
      <a href="#/{{filter}} " [class.selected] ="filter === dataService.filterType"> {{ filter[0].toUpperCase() + filter.slice(1) }}</a>
    </li
    >
  </ul>
  <button class="clear-completed" *ngIf="dataService.todos.length > dataService.remaining" (click) ="dataService.clearCompleted()" > 
    Clear completed
  </button>
</footer>